{% extends 'app/base.html' %}

{% block title %}
Logged out - FuzzyCaller
{% endblock %}

{% block content %}
    <p>Logged out!</p>
    <a href="{% url 'login'%}">Click here to login again.</a>
{% endblock %}