{% extends 'app/base.html' %}
{% load widget_tweaks %}

{% block title %}
Login - FuzzyCaller
{% endblock %}

{% block content %}
{% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
{% endif %}
{% if next %}
    {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
    {% else %}
        <p>Please login to see this page.</p>
    {% endif %}
{% endif %}

<div class="row">
    <div class="col-3">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}

            <div class="form-group">
                {{ form.username.label_tag }} {% render_field form.username class="form-control" %}
            </div>
            <div class="form-group">
                {{ form.password.label_tag }} {% render_field form.password class="form-control" %}
            </div>

            <div class="form-grouop">
                <button type="submit" class="btn btn-primary">Login</button>
                <input type="hidden" name="next" value="{{ next }}" />
            </div>
        </form>
    </div>
</div>
{# Assumes you setup the password_reset view in your URLconf #}
<p>
    <a href="{% url 'password_reset' %}">Lost password?</a>
    <a href="{% url 'register' %}">Don't have an account? Register.</a>
</p>
{% endblock %}