{% extends 'app/base.html' %}

{% load widget_tweaks %}

{% block title %}
All contacts - FuzzyCaller
{% endblock %}

{% block content %}
{% if validlink %}
<p>Please enter (and confirm) your new password.</p>
<div class="row">
    <div class="col-3">
        <form action="" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ form.new_password1.label_tag }} {% render_field form.new_password1 class="form-control" %}
            </div>
            <div class="form-group">
                {{ form.new_password2.label_tag }} {% render_field form.new_password2 class="form-control" %}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            
        </form>
    </div>
</div>
{% else %}
<h1>Password reset failed</h1>
<p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}
{% endblock %}