{% extends 'app/base.html' %}

{% load widget_tweaks %}

{% block title %}
Reset password - FuzzyCaller
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-3">
        <strong>Enter email to requet reset link</strong>
        <form action="" method="post">
            {% csrf_token %}
            {% if form.email.errors %}
            {{ form.email.errors }}
            {% endif %}
            <div class="form-group">
                {{ form.email.label_tag }} {% render_field form.email class="form-control" %}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Reset password</button>
            </div>
            
            
        </form>
    </div>
</div>
{% endblock %}