{% extends 'app/base.html' %}

{% block title %}
Reset Password - FuzzyCaller
{% endblock %}

{% block content %}
    <p>Your password has been changed!<p>
    <p><a href="{% url 'login' %}">log in.</a></p>
{% endblock %}