{% extends 'app/base.html' %}

{% block title %}
Upload successfull - FuzzyCaller
{% endblock %}

{% block content %}
<p>Upload successfull</p>
<p>replaced previous {{ old_count }} contacts with {{ new_count }} contacts.</p>
{% endblock %}