{% extends 'app/base.html' %}

{% load widget_tweaks %}

{% block title %}
Register - FuzzyCaller
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-3">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.label_tag }} {% render_field form.username class="form-control" %}
            </div>
            <div class="form-group">
                {{ form.email.label_tag }} {% render_field form.email class="form-control" %}
            </div>
            <div class="form-group">
                {{ form.password.label_tag }} {% render_field form.password class="form-control" %}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Register</button>
            </div>
            
        </form>
    </div>
</div>
<a href="{% url 'login' %}">Already have an account? Log in.</a>
{% endblock %}