{% extends 'app/base.html' %}

{% block title %}
{{ query }} - Search - FuzzyCaller
{% endblock %}

{% block navbar %}
<form action={% url 'search' %} class="form-inline">
    <div class="form-group row">
        <div class="col-8">
            <input id='search' name='q' value={{ query }} class="form-control" placeholder="Search..."/>
        </div>
        <div class="col-4">
            <button type="submit" value="Search" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>
{% endblock %}

{% block content %}
<p>showing results for "{{ query }}"</p>
<table class="table table-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Number</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for contact in contacts %}
        <tr>
            <td>
                {{ contact.id }}
            </td>
            <td>
                {{ contact.name }}
            </td>
            <td>
                {{ contact.number }}
            </td>
            <td>
                <a href="{% url 'update' contact_id=contact.id %}">edit</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<nav>
    <ul class="pagination">
        {% if contacts.has_previous %}
        <li class="page-item">
            <a href="?q={{ query|urlencode }}&amp;page=1" class="page-link" >&laquo; first</a>
        </li>
        <li class="page-item">
            <a href="?q={{ query|urlencode }}&amp;page={{ contacts.previous_page_number }}" class="page-link" >previous</a>
        </li>
        {% endif %}
        
        <li class="page-item disabled">
            <a  class="page-link" href="">
                Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}
            </a>
        </li>
        
        {% if contacts.has_next %}
        <li class="page-item">
            <a href="?q={{ query|urlencode }}&amp;page={{ contacts.next_page_number }}"  class="page-link" >next</a>
        </li>
        <li class="page-item">
            <a href="?q={{ query|urlencode }}&amp;page={{ contacts.paginator.num_pages }}"  class="page-link" >last &raquo;</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endblock %}