{% extends 'app/base.html' %}
{% load widget_tweaks %}

{% block title %}
All contacts - FuzzyCaller
{% endblock %}

{% block navbar %}
<form action={% url 'search' %} class="form-inline">
    <div class="form-group row">
        <div class="col-8">
            <input id='search' name='q' value='' class="form-control"/>
        </div>
        <div class="col-4">
            <button type="submit" value="Search" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>
{% endblock %}

{% block content %}

<div class="row">
    <div class="col-3">
        {% if message %}
        <p> {{ message }}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.name.label_tag }} {% render_field form.name class="form-control" %}
            </div>
            <div class="form-group">
                {{ form.number.label_tag }} {% render_field form.number class="form-control" %}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Update</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}