{% extends 'app/base.html' %}
{% load widget_tweaks %}

{% block title %}
Upload Contacts - FuzzyCaller
{% endblock %}

{% block content %}
<p>Upload your csv file with contacts</p>
<p>Caution: This operation will <strong>remove</strong> all old data</p>
<form enctype="multipart/form-data" method="post" class="form-inline">
    {% csrf_token %}
    <div class="form-group">
        {% render_field form.file %}
    </div>
    <div class="form-group">
            <button type="submit" class="btn btn-primary">Upload</button>
    </div>
    
</form>
{% endblock %}